our $config = {
#
# Credentials used to connect to the test ServiceNow instance
#
    instance => 'demo000',
    username => 'admin',
    password => 'secret',

# Name of a group which has a manager
# and to which incident tickets can be assigned 
    group_name => 'Network Support',

# Set to 1 or 0 to enable (or disable)
# testing of inserts, updates and deletes
    test_insert => 0,
    test_update => 0,
    test_delete => 0,

# Name of a file to be attached to inserted incident
    attachment => 'flower.jpg',
    attachment_type => 'image/jpeg',
    
# Name of a Location which has at least 3 computers
# (Set to '' to skip this test)
    location_name => 'Frankfurt',

# Number of an RTIM which has at least 2 variables
# (Set to '' to skip this test)    
    ritm_number => 'RITM194551',
};
